body {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center; 
  background: linear-gradient(
      to bottom, 
      #111,
      #3a3a3a);
  height: auto;
  overflow-y: scroll;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Poppins', sans-serif;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

html, body {
    overflow-y: auto !important;
}


.header-logo {
  max-width: 90%;
  height: auto;
  margin: 10px auto;
  display: block;
}


@media (max-width: 900px) {
  .header-logo {
      max-width: 80%;
      margin: 10px auto;
  }
}

.container {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  min-height: 80vh;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 5vh;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 900px) {
  .top {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    width: 80%;
  }
}

.intro {
  text-align: right;
  font-size: 2.1vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .intro{
    text-align: center;
    font-size: 2.5vh;
    align-items: center;
  }
}

@media screen and (min-width: 2100px) {
  .intro{
    text-align: right;
    font-size: 1.5vh;
  }
  .controls-container {
      flex-direction: row;
  }
}

@keyframes dynamicGlow {
  0% {
    box-shadow: 0 0 20px 5px rgba(64, 224, 208, 0.493), 0 0 40px 10px rgba(152, 0, 223, 0.438);
  }
  50% {
    box-shadow: 0 0 25px 7px rgba(152, 0, 223, 0.438), 0 0 50px 15px rgba(64, 224, 208, 0.493);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(64, 224, 208, 0.493), 0 0 40px 10px rgba(152, 0, 223, 0.438);
  }
}

.toptier {
  position: relative;
  display: flex;
  flex-direction: column; 
  padding: 30px 30px;
  background: rgba(15, 15, 15, 0.829);
  border-radius: 10px;
  margin: 7vh;
  animation: dynamicGlow 4s infinite alternate ease-in-out;
}

.toptier::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: -1;
  background: linear-gradient(30deg, rgb(174, 0, 255), turquoise);
  border-radius: inherit;
  display: block;
}

.toptier::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -2;
  border-radius: inherit;
  background: radial-gradient(circle, rgba(64, 224, 208, 0.493), rgba(152, 0, 223, 0.438));
  filter: blur(15px);
  opacity: 0.1;
  animation: dynamicGlow 4s infinite alternate ease-in-out;}

.title{
  padding: 10px;
  font-size: 2vh;
  padding-right: 20px;
}

.worst-company{
  font-size: 4vh;
  margin: 10px;
}

.leader-image{
  height: 160px;
  width: auto;
  margin: 0 10px;
}

@media screen and (max-width: 900px) {
  .leader-image {
      height: 9vw;
  }
}

select {
  appearance: none;
  background-color: #111;
  color: #fff;
  border: 2px solid #333;
  border-radius: 25px;
  padding: 10px 20px;
  width: 300px; 
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

select:hover {
  border-color: #444;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

select:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}


select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  padding-right: 3rem;
}


#sort-button {
    --glow-color: rgba(64, 224, 208, 0.6); 
    --glow-spread-color: rgba(64, 224, 208, 0.2);
    --btn-color: #111; 

    appearance: none;
    background-color: var(--btn-color);
    color: white;
    border: 2px solid var(--glow-color);
    border-radius: 25px;
    padding: 10px 20px;
    height: 50px;
    width: 200px;
    max-width: 200px;
    flex-shrink: 0; 

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0; 
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 
        0 0 5px 1px var(--glow-color),
        0 0 10px 2px var(--glow-spread-color);
    text-shadow: 0 0 5px var(--glow-color);
    font-weight: bold;
}

#sort-button:hover {
    border-color: rgba(64, 224, 208, 1);
    box-shadow: 
        0 0 8px 2px rgba(64, 224, 208, 1),
        0 0 15px 4px rgba(64, 224, 208, 0.5);
    background-color: rgba(64, 224, 208, 0.1); 
}

#sort-button:active {
    background-color: rgba(64, 224, 208, 0.3);
    box-shadow: 0 0 5px 1px rgba(64, 224, 208, 1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 95vw;
  margin: 0 auto;
  gap: 10px;
  min-height: 100vh;
  justify-content: center;
  align-content: flex-start;
  min-width: 60vw;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #222;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 70vw;
  min-height: 37vh;
  position: relative;
  transition: box-shadow 0.3s ease, z-index 0.0s linear 0.3s, transform 0.3s ease;
}

.grid-item:hover {
    box-shadow: 0 0 15px 5px rgba(64, 224, 208, 0.7), 0 0 30px 10px rgba(152, 0, 223, 0.6);
    z-index: 10; 
    transform: scale(1.02);
}

@media (min-width: 1400px) {
  .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
      max-width: 100vw;
      margin: 0 auto;
      gap: 10px;
      justify-content: center;
      align-content: flex-start;
  }
}


@media (min-width: 769px) and (max-width: 899px) {
  .grid-container {
      grid-template-columns: 1fr;
      width: 80%;
      margin: 10px auto;
      justify-items: center;
  }

  .grid-item {
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
  }

  
  .container {
      width: 90%;
      padding: 0 20px;
  }

  .footer { 	position: fixed;
    bottom: 0;
    text-align: center;
    width: 60%;
    max-width: 80%;
    height: auto;
    font-size: 12px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  body {
      padding: 0;
      margin: 0;
      width: 100%;
      overflow-x: hidden;
  }

  .container {
      padding: 0 10px;
      margin: 0;
      width: 100%;
      max-width: 100%;
  }

  .grid-container {
      grid-template-columns: 1fr;
      padding: 10px;
      margin: 10px 0;
      width: 95%;
      justify-items: center;
      align-items: center;
      align-self: center;
  }

  .grid-item {
      max-width: 100%;
      width: 90%;
      margin: 0;
      padding: 15px;
  }

  p {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
  }

  select {
      width: 90%;
      max-width: 300px;
  }
}


.counter-container p {
  font-size: 1.5rem;
  margin: 0;
}

.logo {
  margin-top: 30px;
  height: 8vh;
  width: auto;
  min-width: 170px;
}

.putear-button {
  --glow-color: rgba(101, 219, 208, 0.452);
  --glow-spread-color: rgba(180, 231, 255, 0.753);
  --enhanced-glow-color: rgba(206, 244, 255, 0);
  --btn-color: rgb(9, 16, 19);
  border: 0.1em solid var(--glow-color);
  padding: 1vh 5vh;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 0.1em 0.1em var(--glow-color),
              inset 0 0 0.2em 0.1em var(--glow-color); 
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
  margin-top: 3rem;
  margin-bottom: 1rem;
  z-index: 10; 
  perspective: 1000px;
}

.putear-button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
              inset 0 0 0.75em 0.25em var(--glow-color);

}

.putear-button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
              0 0 1.5em 1em var(--glow-spread-color),
              inset 0 0 0.5em 0.25em var(--glow-color);
}

.putear-button-text {
  display: inline-block;
  z-index: 2;
}

.animated-text {
  display: flex;
  position: absolute;
  cursor: default;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  opacity: 0;
  font-size: 24px;
  color: rgba(20, 188, 235, 0.9);
  z-index: 10;
  transition: opacity 0.5s ease;
}

.putear-button:focus .animated-text {
  animation: slide-up 3s ease-out forwards;
}

.putear-button:active .animated-text {
  animation: none;
}

.putear-button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: 
      translateX(-50%) perspective(1.5em) rotateX(15deg) scale(1, 0.2);
      
  height: 100%; 
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(1.2em); 
  opacity: 0.4;
  transition: opacity 0.5s ease, transform 0.2s ease; 
  z-index: -1; 
  border-radius: 1em;
}

.putear-button:hover::after {
    opacity: 1;
    transform: 
        translateX(-50%) translateY(30%) perspective(1.5em) rotateX(35deg) scale(1, 0.6)
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #22222200;
  color: #cccccc23;
  padding: 10px 0;
  font-size: 2vh;
}

@media (max-width: 768px) {
  .footer {
      padding: 10px;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 90%; 
      max-width: 80%;
      height: auto; 
      font-size: 12px;
      margin: 0;
  }
}

.rising-text {
  color: rgba(173, 216, 230, 1);
  font-size: 40px;
  font-weight: bold;
  z-index: 10;
  transition: transform 3s ease-out, opacity 3s ease-out;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  max-width: 80vw;
  text-align: center; 
  margin: 30px auto;
  margin-top: 190px;
  place-items: center;
  gap: 15px;
  color: #f2f2f270;
  align-self: flex-end;
  position: relative; 
}
.footer-image {
  height: 10vw;
  width: auto;
  object-fit: cover;
  border-radius: 5px; 
  opacity: 50%;
  position: relative; 
  z-index: 1;
}

#global-ui-layer {
  position: fixed;
  inset: 0;        
  pointer-events: none; 
  z-index: 2147483647;
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  padding-top: 50px;    
}

@keyframes stickyTextGlow {
  0% {
    /* Brillo Verde Ne칩n */
    box-shadow: 
      0 0 5px 2px rgba(0, 163, 68, 0.7), /* Sombra interna (m치s densa) */
      0 0 15px 4px rgba(0, 163, 68, 0.5); /* Sombra externa (m치s difusa) */
  }
  50% {
    /* Brillo Turquesa */
    box-shadow: 
      0 0 5px 2px rgba(64, 224, 208, 0.7), 
      0 0 15px 4px rgba(64, 224, 208, 0.5); 
  }
  100% {
    /* Vuelve al Verde Ne칩n */
    box-shadow: 
      0 0 5px 2px rgba(0, 163, 68, 0.7), 
      0 0 15px 4px rgba(0, 163, 68, 0.5);
  }
}

#global-ui-layer .sticky-text {
  pointer-events: auto; 
  position: fixed; 
  top: 50px; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 2147483647;
  background-color: rgb(0,163,68);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 30px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3); 
  animation: stickyTextGlow 4s infinite alternate ease-in-out;
  text-shadow:
    -1px -1px 2px black,
     1px -1px 2px black,
    -1px  1px 2px black,
     1px  1px 2px black;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.legal{
  font-size: 7px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (max-width: 900px) {
    .intro {
        align-items: center;
    }
}