  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #999999;
    font-family: 'Poppins', sans-serif;
    color: #f2f2f2;
    overflow-x: hidden;
    margin: 0; 
    height: 92vh;
    width: 100%;
    transition: background-color 0.5s ease;
  }

  #introduction{
    font-size: 6vh;
    margin-top: 10vh;
  }

  #subintro{
    font-size: 2.5vh;
  }

  .color-display{
    height: 30vw;
  }

  #color-code {
    color: #00000000;
    text-shadow: 0 0 5px #fff;
    font-size: 10vh;
  }

  #subtext{
    background-color: rgba(0, 0, 0, 0.2);
    width: 40vw;
    padding: 2vw;
    text-align: center;
    border-radius: 3vh;
  }

  #logoarea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    align-items: center;
    flex-direction: row;
    gap: 4vw;
    margin: 2vw;
  } 
  
  .logo {
    height: auto;
    width: 9vw;
    object-fit: contain;
    transition: opacity 2s ease-in-out;
    opacity: 1;
  }
  

  .text-content{
    text-align: left;
    max-width: 25vw;
    overflow-wrap: break-word;
    font-size: 1.1rem;
  }

  .footer {
    text-align: center;
    background-color: #22222200;
    color: #cccccc23;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px; 
    font-size: 1vw;
  }

  @media (max-width: 768px) {

    #introduction{
      font-size: 8vw;
      margin-top: 5vh;
    }
  
    #subintro{
      font-size: 4vw;
    }
  
    .color-display{
      height: 20vw;
    }
  
    #color-code {
      color: #00000000;
      text-shadow: 0 0 5px #fff;
      font-size: 14vw;
    }

    #subtext{
      background-color: rgba(0, 0, 0, 0.1);
      width: 90vw;
      padding: 2vw;
      text-align: center;
      border-radius: 3vw;
    }

    #logoarea {
      margin-top: 10vw;
      flex-direction: column;
      width: 100vw;
      gap: 7vw;
    }
  
    .logo {
      width: 25vw; /* Adjust logo width for mobile */
    }
  
    .text-content {
      text-align: center;
      max-width: 90vw; /* Increase max-width for mobile */
      font-size: 0.87rem; /* Adjust font size for readability */
    }

    .footer {
      text-align: center;
      background-color: #22222200;
      color: #ffffff5e;
      position: fixed;
      bottom: 0;
      width: 90vw;
      height: 5vh; 
      font-size: 2.7vw;
    }
  }

  